<% open('ngrok.log') do |f| %>
  <% f.lines.select { |line| line.include?("URL:") }.each do |line| %>
    <%= "Cethric Build server address: " + line.gsub(/.+tcp\:\/\//, "").gsub(/\sProto.+/, "") %>
    <br />
  <% end %>
<% end %>
